.card-title {
  margin-top: 0;
  margin-bottom: .5rem;
  font-size: 1.2rem;
}
.card {
	/* other styles */
	background: rgba(255, 255, 255, .7);
	-webkit-backdrop-filter: blur(10px);
	backdrop-filter: blur(10px);
}
.shape {
  position: absolute;
  width: 150px;
  top: .5rem;
  left: .5rem;
}
